@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.App {
  background-color: #778ca3;
  background-image: url('images/bird.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Outfit', sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 40px;
}

.logo-wrapper {
  text-align: center;
}

.logo {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.menu-content {
  position: fixed;
  width: calc(20% - 16px);
}

.menu {
  position: relative;
  flex-basis: 20%;
  width: 20%;
  background-color:#4b6584;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
}

.menu li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 80%;
  margin-top: 30px;
  color: #2c3e50;
}

.menu li span {
  padding-left: 20px;
}

.menu li.active {
  background-color: #778ca3;
  border-left: 2px solid #ffffff;
  color: #ffffff;
}

.logout {
  position: absolute;
  bottom: 10px;
  font-size: 80%;
  color: #f7b731;
  text-align: center;
  width: 100%;
}

.logout span {
  padding-left: 20px;
}

.dashboard {
  flex-basis: 80%;
  background-color: rgba(255, 255, 255, 0.363);
  min-height: 60vh;
}

.graphmodule {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30%;
  padding-left: 20px;
  padding-bottom: 140px;
  border: solid;
  border-color: #f7b731;
  background-color: rgba(197, 137, 7, 0.55);
  text-align: center;
  border-radius: 30px;
}



.graphmodule-formula {
  height: auto;
  padding-bottom: 20px;
  width: 40%;
  font-size: 70%;
}

.widgetmodule {
  display: flex;
  flex-direction: row;
}

.column_gap {
  column-count: 2;
  column-gap: 2em;
  text-align : left;
}

.center {
  text-align : center;
}

.graphmodule-formula ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  
}

h2
{
  display: inline
}
.Circuit{
  display: flex;
  flex-direction: row;
}
.DetailCircuit
{
  width: 40%;
  text-align: left;
}
.ImgCircuit
{
  width: 75%;
}
.copyright {
  text-align: center;
  color: #f6f6f6;
  font-size: 16px;
  margin-top: 50px;
  flex-basis: 100%;
}

.widget {
  border-radius: 30px;
  background-color: #f7b731;
  color: #ffffff;
  width: 300px;
  padding: 20px;
}

.widget-name {
  font-size: 18px;
  padding-bottom: 10px;
}

.nounderline
{ 
 text-decoration:none; 
 color: white;
} 

@media all and (max-width: 1110px){

  .menu {
    display: none;
  }
  .dashboard
  {
    flex-basis: 100%;
  }
  
}

@media all and (max-width: 1110px){

  .menu {
    display: none;
  }
  .dashboard
  {
    flex-basis: 100%;
  }
  
}